# Database Configuration
DB_HOST=localhost
DB_PORT=5533
DB_NAME=smart_organizer
DB_USER=postgres
DB_PASSWORD=postgress

# Server Configuration
PORT=3001
NODE_ENV=development

# Frontend Configuration
VITE_API_URL=http://localhost:3001/api
